@import "tailwindcss";
@import "@fontsource-variable/host-grotesk";
@import "tw-animate-css";

@theme {
  --font-sans: "Host Grotesk Variable", sans-serif;

  --color-grey-50: #b5b5b5;
  --color-grey-100: #808080;
  --color-grey-700: #303030;
  --color-grey-800: #252525;
  --color-grey-900: #191919;

  --color-orange-200: #ffa566;
  --color-orange-400: #ff6900;

  --color-amber-200: #daae71;
  --color-amber-500: #c17812;

  --spacing-narrow: calc(var(--spacing) * 180);
  --max-width-narrow: var(--spacing-narrow);

  --spacing-standard: calc(var(--spacing) * 240);
  --max-width-standard: var(--spacing-standard);

  --spacing-wide: calc(var(--spacing) * 360);
  --max-width-wide: var(--spacing-wide);

  --shadow-card-inset:
    inset -1px -1px 0px rgba(255, 255, 255, 0.1), inset 1px 1px 0px rgba(255, 255, 255, 0.2);

  --background-image-app-1: url("/images/bg-4@2x.png");
  --background-image-app-2: url("/images/bg-5@2x.png");
  --background-image-app-3: url("/images/bg-6@2x.png");
  --background-image-app-4: url("/images/bg-7@2x.png");
}
